.main{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 400px;
  height: 350px;
  background-color: antiquewhite;
  box-shadow: 0 1px 16px 0 rgba(0, 0, 0, .2), 0 2px 8px 0 rgba(0, 0, 0, .14), 0 4px 8px -1px rgba(0, 0, 0, .12);
P{
  font-size: 30px;
  font-weight: bolder;
  color: black;

}

img{
  margin-bottom: 50px ;
  width: 300px;
}

span{

margin-bottom: 50px ;
width: 270px;
font-size: 16px;
  color: red;
}
}
