.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

app-course-card {
    margin-top: 20px;
    // &.is-First{
    //   border-top: 5px solid black;
    //   background-color: red;
    // }

    // &:hover{
    //   border-color: blue; /* Change border color on hover */
    // }
}

